# Virtual environment
venv/
env/
ENV/
*.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Streamlit cache (optional)
.streamlit/
